<h1>Travel Modes</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>id</th>
			<th>Name</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<% @travel_modes.each do |travel_mode| %>
		<tr>
			<td><%= travel_mode.id %></td>
			<td><%= travel_mode.name %></td>
			<td>
				<% if can? :update, travel_mode %>
					<%= link_to "Edit", edit_travel_mode_path(travel_mode) %>
				<% end %>
			</td>
			<td>
				<% if can? :destroy, travel_mode %>
					<%= link_to "Delete", travel_mode, method: :delete %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% if can? :create, TravelMode %>
	<%= link_to "New", new_travel_mode_path %>
<% end %>
