<h1>Countries</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>id</th>
			<th>Country</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<% @countries.each do |country| %>
		<tr>
			<td><%= country.id %></td>
			<td><%= country.name %></td>
			<td>
				<% if can? :update, country %>
					<%= link_to "Edit", edit_country_path(country) %>
				<% end %>
			</td>
			<td>
				<% if can? :destroy, country %>
					<%= link_to "Delete", country, method: :delete %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% if can? :create, Country %>
	<p><%= link_to "New", new_country_path %></p>
<% end %>
