<h1>Cities</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>id</th>
			<th>City</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<% @cities.each do |city| %>
		
		<tr>
			<td><%= city.id %></td>
			<td><%= city.name %>, <%= city.country.name unless city.country == nil %></td>
			<td><%= link_to "Edit", edit_city_path(city) %></td>
			<td><%= link_to "Delete", city, method: :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= link_to "New", new_city_path %>